# To Show List Of Keywords

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Comment
" # " = Single Line Comment

""" """ = Multi Line Comments

# Data Types

-> Numeric Types = int, float, complex

-> Sequence Types = list, tuple, range

-> Mapping Type = dict

-> Set Types = set, frozenset

-> Boolean Type = bool

-> Binary Types = bytes, bytearray, memoryview

-> None Type = NoneType 

# Complex Data Type
iota in Python is Denoted by "j"

In [20]:
a=1+2j
print(a, type(a))

(1+2j) <class 'complex'>

# Operators

-> Arithmetic: =,-,*,/,%,//,**

-> Relational: ==, <=,>=,!=

-> Logical: and, or, not

-> Bitwise: &, |, ~, ^,<<,>>

-> Assignment: =, +=, -=, _

-> Special: is, is not, not in( shouldnot present), in(search)

# IF ELSE

-> if_else

-> if_ elif__else

-> Nested if

In [21]:
a = 10;
b = 20;
if a<b:
    print('a is smaller than b')
    print('hello')
else:
    print("a is greater than b")

a is smaller than b
hello

# Practice Questions

Tell if the given number is prime number or not using while loop without flag

In [22]:
n = int(input("Enter a Number: "));
i=2;
while(i<n):
    if(n%i==0):
        print("Not A Prime Number")
        break
    i=i+1
else:
    print("Number is Prime")

Not A Prime Number

# For Loop

In [23]:
l = [1,2,3,4,5]
for ele in l:
    print(ele)

1
2
3
4
5

# Range
range is a function having syntax and values:

-> range(start, stop, step size)

- start = returns a list containing some elements(actually it is an iterator(a function or concept that helpsin running a for loop))(Default Value = 0)

- stop = It is not included and is compulsary to be specified. By default, length of object

- step size = default size -> 1

In [24]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5

In [25]:
for i in range(1, 20, 5):
    print(i)

1
6
11
16

In [26]:
#To print elements in reverse order
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [27]:
# To print elements of a list in reverse order
for i in range(len(l)-1, -1, -1):
    print(l[i])

5
4
3
2
1

# Ternary Operator

value 1(if condition is true) if else value 2(when false)
- eg: a if a>b else b

In [28]:
a = 10
b = 20
a if ( a < b) else b

10

In [29]:
a = 10
a

10

# Functions Of List

-> Note: Only Positive index values are valid  in C and cpp but both positive and negative values are valid in Python

-> shortcut: press "Tab key" to look for functions after name of list and "question mark" to determine type of object after list name

- append() adds an ele at the end of the list

- clear() empties a list

- copy() creates a copy, are of 2 types: shallow copy and deep copy
suppose in a 2d array in a shallow copy only index no is copied in deep copy objects are also copied. Here, only shallow copy works

- count() returns no of eles with specified value

- extend() add eles of list(or any iterable)

- index() returns the index of 1st ele with the specified value

- insert() adds an ele at specified pos

- pop() removes ele at specified pos

- remove() removes itm with specified value

- sort() sorts the list

In [30]:
l = [1,2,3,4,5]
for i in range(-1, -len(l) -1, -1):
    print(l[i])

5
4
3
2
1

In [31]:
l.append(10)
l.insert(1, 100)
print(l)

[1, 100, 2, 3, 4, 5, 10]

In [32]:
print(l[0])
l[1]=1000
print(l)

1
[1, 1000, 2, 3, 4, 5, 10]

In [33]:
print(l.pop())
print(l.pop(1))
print(l)

10
1000
[1, 2, 3, 4, 5]

In [34]:
l1 = [1,2,3,4]
l2 = [1,1,2]
""" l1 = l1+2 #error shown as only lists can be concatenated.. shows error incase of lists but works in numpy"""
l1=l1+l2
print(l1)

[1, 2, 3, 4, 1, 1, 2]

In [35]:
# all even nos within a list till 20

l=[]
for i in range(0, 20, 1):
    if(i%2==0):
        l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

* Easy Way

In [36]:
l = []
for i in range(0, 20 ,2):

    l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
print( l[2:5])

[4, 6, 8]

In [38]:
print(l[20:10:2])

[]

In [39]:
print(l[::-1])

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

# Tuples

specified in circular brackets"()"
it is immutable whereas list is mutable

In [40]:
t1 = (1, 2, 3)
print(t1)

(1, 2, 3)

In [41]:
# to change values of a tuple
l1 = list(t1)
l1.append(10)
t1 = tuple(l1)
print(t1)

(1, 2, 3, 10)

In [42]:
t1= (10, 20, 30)
a,b,c = t1
print(t1,a,b,c)

(10, 20, 30) 10 20 30

In [43]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [44]:
# displays 2 as it is the only present ele so it is considered as a mathematical ele by the compiler
t2 = (2)
print(t2)

2

In [45]:
# after putting a comma
t2 = (2,)
print(t2)

(2,)

In [46]:
#to make a list containing 20 times "1"
l = [1]*20
print(l)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# Sets 

- disjoint a pair of sets which have nthng in common

-> Sets are generally used when we don't need any duplicate eles and also for searching purposes

In [47]:
s = {1,2,3}
print(s, type(s))

{1, 2, 3} <class 'set'>

In [48]:
s.add(10)
print(s)

{10, 1, 2, 3}

In [49]:
s.add(1)
print(s)

{10, 1, 2, 3}

In [50]:
#pops last added element
s.pop()

10

In [51]:
#doesn't gives any output but removes ele specified
s.remove(3)

In [52]:
s = set()
print(s)

set()

In [53]:
#Frozen Set
s = frozenset({1,2,3})
print(s)

frozenset({1, 2, 3})

In [54]:
#To traverse eles in a set
for ele in s:
    print(ele)

1
2
3

# Dictionary

- consists of key value pairs
* every immutable data type can be added to a key

In [55]:
#roll no will be unique
d={
    "roll" :127, 
    "name" : "sacher",
    "age" : "jawan",
    "status" : "commited",
    "roll" : 128 
}
print(d, type(d))

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited'} <class 'dict'>

In [56]:
print(d["roll"])

128

In [57]:
print(d["rolll"])

KeyError: 'rolll'

In [ ]:
d.get("roll")

128

In [ ]:
d.get("rolll")

In [59]:
d["college"] = "chitkara"
print(d)

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited', 'college': 'chitkara'}

In [60]:
d.update({"city" : "chandigarh",  "country" : "India"})
print(d)

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited', 'college': 'chitkara', 'city': 'chandigarh', 'country': 'India'}

In [61]:
d.keys()

dict_keys(['roll', 'name', 'age', 'status', 'college', 'city', 'country'])

In [62]:
for k in d.keys():
    print(k, d[k])

roll 128
name sacher
age jawan
status commited
college chitkara
city chandigarh
country India

In [63]:
d.values()

dict_values([128, 'sacher', 'jawan', 'commited', 'chitkara', 'chandigarh', 'India'])

In [66]:
for k, v in d.items():
    print(k,v)

roll 128
name sacher
age jawan
status commited
college chitkara
city chandigarh
country India

In [67]:
for t in d.items():
    print(t)

('roll', 128)
('name', 'sacher')
('age', 'jawan')
('status', 'commited')
('college', 'chitkara')
('city', 'chandigarh')
('country', 'India')

In [71]:
#pops specified key
d.pop('country')

KeyError: 'country'

In [69]:
d

{'roll': 128,
 'name': 'sacher',
 'age': 'jawan',
 'status': 'commited',
 'college': 'chitkara',
 'city': 'chandigarh'}

In [72]:
#pops  last inserted value
d.popitem()

('college', 'chitkara')