# To Show List Of Keywords

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Comment

- #= Single Line Comment

- """ """= Multi Line Comments

In [1]:
a = 10
s = "Hello"
b = 10+20+ \
    30 + 40 + \
    50
# "\" --> Backslash denotes line continuation in Python
c = d = e = 100
c,d,e = 1,2,3
print(a,b)

10 150

In [3]:
a = 10
b = 20
c = 10
#Here, id(variable) function returns value of the specified variable
print(a,id(a))
print(b,id(b))
print(c,id(c))
a = a+10
print(a,id(a))

10 140728960568024
20 140728960568344
10 140728960568024
20 140728960568344

# Data Types

 Text Type = str

 Numeric Types = int, float, complex

 Sequence Types = list, tuple, range

 Mapping Type = dict

 Set Types = set, frozenset

 Boolean Type = bool

 Binary Types = bytes, bytearray, memoryview

 None Type = NoneType

In [4]:
#NoneType
a = None
print(a,type(a))

None <class 'NoneType'>

In [6]:
a = input("Enter a Num")
print(a,type(a))
#Converting String to an integer
a= int(a)
print(a,type(a))

4 <class 'str'>
4 <class 'int'>

 

- Complex Data Type

iota in Python is Denoted by "j"

In [11]:
a=1+2j
print(a, type(a))

(1+2j) <class 'complex'>

# Operators

- Arithmetic: ,-,*,/,%,//,**,+

- Relational: ==, <=,>=,!=,<,>

- Logical: and, or, not

- Bitwise: &, |, ~, ^,<<,>>

- Assignment: =, +=, -=

- Special: is, is not, not in( shouldnot present), in(search)

In [7]:
a = [10]
b = [10]
c = a is b
print(c)

False

# Explanation

The is operator in Python compares whether two variables reference the same object in memory. It does not compare the values of the variables, but rather their identities. Let’s break down your code:

- You’ve created two lists, a and b, both containing the value 10.

- You use the is operator to check if a and b reference the same object.

- The result of c will be False, because even though the values inside a and b are the same, they are separate objects in memory.

# IF ELSE

-> if_else

-> if_ elif__else

-> Nested if

In [12]:
a = 10;
b = 20;
if a<b:
    print('a is smaller than b')
    print('hello')
else:
    print("a is greater than b")

a is smaller than b
hello

# Practice Questions

Tell if the given number is prime number or not using while loop without flag

In [13]:
n = int(input("Enter a Number: "));
i=2;
while(i<n):
    if(n%i==0):
        print("Not A Prime Number")
        break
    i=i+1
else:
    print("Number is Prime")

Number is Prime

# For Loop

In [14]:
l = [1,2,3,4,5]
for ele in l:
    print(ele)

1
2
3
4
5

# Range
range is a function having syntax and values:

-> range(start, stop, step size)

- start = returns a list containing some elements(actually it is an iterator(a function or concept that helpsin running a for loop))(Default Value = 0)

- stop = It is not included and is compulsary to be specified. By default, length of object

- step size = default size -> 1

In [15]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5

In [16]:
for i in range(1, 20, 5):
    print(i)

1
6
11
16

In [17]:
#To print elements in reverse order
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
# To print elements of a list in reverse order
for i in range(len(l)-1, -1, -1):
    print(l[i])

5
4
3
2
1

# Ternary Operator

value 1(if condition is true) if else value 2(when false)
- eg: a if a>b else b

In [19]:
a = 10
b = 20
a if ( a < b) else b

10

In [20]:
a = 10
a

10

# Functions Of List

-> Note: Only Positive index values are valid  in C and cpp but both positive and negative values are valid in Python

-> shortcut: press "Tab key" to look for functions after name of list and "question mark" to determine type of object after list name

- append() adds an ele at the end of the list

- clear() empties a list

- copy() creates a copy, are of 2 types: shallow copy and deep copy
suppose in a 2d array in a shallow copy only index no is copied in deep copy objects are also copied. Here, only shallow copy works

- count() returns no of eles with specified value

- extend() add eles of list(or any iterable)

- index() returns the index of 1st ele with the specified value

- insert() adds an ele at specified pos

- pop() removes ele at specified pos

- remove() removes itm with specified value

- sort() sorts the list

In [21]:
l = [1,2,3,4,5]
for i in range(-1, -len(l) -1, -1):
    print(l[i])

5
4
3
2
1

In [22]:
l.append(10)
l.insert(1, 100)
print(l)

[1, 100, 2, 3, 4, 5, 10]

In [23]:
print(l[0])
l[1]=1000
print(l)

1
[1, 1000, 2, 3, 4, 5, 10]

In [24]:
print(l.pop())
print(l.pop(1))
print(l)

10
1000
[1, 2, 3, 4, 5]

In [25]:
l1 = [1,2,3,4]
l2 = [1,1,2]
""" l1 = l1+2 #error shown as only lists can be concatenated.. shows error incase of lists but works in numpy"""
l1=l1+l2
print(l1)

[1, 2, 3, 4, 1, 1, 2]

In [26]:
# all even nos within a list till 20

l=[]
for i in range(0, 20, 1):
    if(i%2==0):
        l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

* Easy Way

In [27]:
l = []
for i in range(0, 20 ,2):

    l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
print( l[2:5])

[4, 6, 8]

In [29]:
print(l[20:10:2])

[]

In [30]:
print(l[::-1])

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

# Tuples

specified in circular brackets"()"
it is immutable whereas list is mutable

In [31]:
t1 = (1, 2, 3)
print(t1)

(1, 2, 3)

In [32]:
# to change values of a tuple
l1 = list(t1)
l1.append(10)
t1 = tuple(l1)
print(t1)

(1, 2, 3, 10)

In [33]:
t1= (10, 20, 30)
a,b,c = t1
print(t1,a,b,c)

(10, 20, 30) 10 20 30

In [34]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [35]:
# displays 2 as it is the only present ele so it is considered as a mathematical ele by the compiler
t2 = (2)
print(t2)

2

In [36]:
# after putting a comma
t2 = (2,)
print(t2)

(2,)

In [37]:
#to make a list containing 20 times "1"
l = [1]*20
print(l)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# Sets 

- disjoint a pair of sets which have nthng in common

-> Sets are generally used when we don't need any duplicate eles and also for searching purposes

In [38]:
s = {1,2,3}
print(s, type(s))

{1, 2, 3} <class 'set'>

In [39]:
s.add(10)
print(s)

{10, 1, 2, 3}

In [40]:
s.add(1)
print(s)

{10, 1, 2, 3}

In [41]:
#pops last added element
s.pop()

10

In [42]:
#doesn't gives any output but removes ele specified
s.remove(3)

In [43]:
s = set()
print(s)

set()

In [44]:
#Frozen Set
s = frozenset({1,2,3})
print(s)

frozenset({1, 2, 3})

In [45]:
#To traverse eles in a set
for ele in s:
    print(ele)

1
2
3

# Dictionary

- consists of key value pairs
* every immutable data type can be added to a key

In [46]:
#roll no will be unique
d={
    "roll" :127, 
    "name" : "sacher",
    "age" : "jawan",
    "status" : "commited",
    "roll" : 128 
}
print(d, type(d))

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited'} <class 'dict'>

In [47]:
print(d["roll"])

128

In [48]:
print(d["rolll"])

KeyError: 'rolll'

In [ ]:
d.get("roll")

128

In [ ]:
d.get("rolll")

In [ ]:
d["college"] = "chitkara"
print(d)

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited', 'college': 'chitkara'}

In [ ]:
d.update({"city" : "chandigarh",  "country" : "India"})
print(d)

{'roll': 128, 'name': 'sacher', 'age': 'jawan', 'status': 'commited', 'college': 'chitkara', 'city': 'chandigarh', 'country': 'India'}

In [ ]:
d.keys()

dict_keys(['roll', 'name', 'age', 'status', 'college', 'city', 'country'])

In [ ]:
for k in d.keys():
    print(k, d[k])

roll 128
name sacher
age jawan
status commited
college chitkara
city chandigarh
country India

In [ ]:
d.values()

dict_values([128, 'sacher', 'jawan', 'commited', 'chitkara', 'chandigarh', 'India'])

In [ ]:
for k, v in d.items():
    print(k,v)

roll 128
name sacher
age jawan
status commited
college chitkara
city chandigarh
country India

In [ ]:
for t in d.items():
    print(t)

('roll', 128)
('name', 'sacher')
('age', 'jawan')
('status', 'commited')
('college', 'chitkara')
('city', 'chandigarh')
('country', 'India')

In [ ]:
#pops specified key
d.pop('country')

KeyError: 'country'

In [ ]:
d

{'roll': 128,
 'name': 'sacher',
 'age': 'jawan',
 'status': 'commited',
 'college': 'chitkara',
 'city': 'chandigarh'}

In [ ]:
#pops  last inserted value
d.popitem()

('college', 'chitkara')

# Functions

- readability

- reusability

- Modular Programming

- 'def' keyword is used to define fn

- def fnname(args):
   - body

- eg: def add()
    - x=10
    - y=20
    - print(x+y)

In [ ]:
def add():
    x = 10
    y = 20
    print(x+y)

In [ ]:
add()
add()

30
30

In [ ]:
print(add, type(add))

<function add at 0x000001DE2F99C900> <class 'function'>

In [ ]:
def add(x,y):
    print(x+y)

In [ ]:
add(10,20)
add(100,200)

30
300

In [ ]:
print(add, type(add))

<function add at 0x000001DE2F99CB80> <class 'function'>

In [ ]:
def cal(x,y):
    a = x+y
    b = x-y
    return a,b
#multiple values in python are returned by converting both values in a tuple. Both values are packed as a tuple and returned

In [ ]:
a, b = cal(10,20)
print(a,b)
print(cal(100,200))

30 -10
(300, -100)

In [ ]:
def cal(x,y=100):
    a = x+y
    b = x-y
    return a,b

In [ ]:
def cal(x,y=100,/):
    a = x+y
    b = x-y
    return a,b

In [ ]:
def cal(*,x,y=100):
    a = x+y
    b = x-y
    return a,b

In [ ]:
def cal(p,q,/,*,x,y=100):
    a = x+y
    b = x-y
    print(p,q)
    return a,b

In [ ]:
a, b = cal(10,20, y=300,x=1000)
print(a,b)
print(cal(100,200, x=100))

10 20
1300 700
100 200
(200, 0)

# Arbitrary Arguments

- *args - positional identifier

- *kwargs - keyword args/ keyword identifier

In [ ]:
def pt(*args):
    print(args)

In [ ]:
pt(1,2,3)
pt("Hello", 10, 3.5)

(1, 2, 3)
('Hello', 10, 3.5)

In [ ]:
#empty tuple is printed
pt()

()

In [ ]:
def pt(**kwargs):
    print(kwargs)

In [ ]:
pt( x = 1, y = 2, z = 3)
pt(st = "Hello", y = 10)

TypeError: pt() got an unexpected keyword argument 'x'

In [ ]:
pt()

()

In [ ]:
def fn():
    "This is a Demo fn" #Docstring
    print("Hi")

In [ ]:
fn()

Hi

In [ ]:
print(fn.__doc__)

This is a Demo fn

In [ ]:
def f1():
    print("Hi")
    def f2():
        print("In f2")
    f2()
    print("bye") 
f1()

Hi
In f2
bye

In [ ]:
def f1():
    print("Hi")
    def f2():
        print("In f2")
    f2()
    print("bye")
    return f2
fn2=f1()
fn2()

Hi
In f2
bye
In f2

In [ ]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y

In [ ]:
def cal(fn,x,y):
    ans=fn(x,y)
    print(ans)

In [ ]:
cal(add, 10,20)

30

In [ ]:
cal(sub, 50,40)

10

# Lambda Functions

In [ ]:
#also called as anonymous fns(fns without a name)
sq = lambda x : x*x
print(sq(10))

100

In [ ]:
#using multiple values
cal(lambda x,y : x*y, 10, 20)

200

# Recursion

In [ ]:
# Fibonacci

# Classes In Python

In [ ]:
class Person:
    # name = 'xyz'
    # age = 0
    def __init__(self, name = 'xyz', age = 0):
        self.name = name
        self.age = age

In [ ]:
p = Person("Radhe", 20)
p1 = Person("Mohan",30)

In [ ]:
p = Person()
p1 = Person()

In [ ]:
print(p.name,p.age)

xyz 0

In [ ]:
# won't print as p.roll is not defined
print(p.roll)

127

In [ ]:
#only happen in Python
p.roll = 127
print(p.roll)

127

In [ ]:
class Person:
    # name = 'xyz'
    # age = 0
    def __init__(self, name = 'xyz', age = 0):
        self.name = name
        self.age = age
        
    def saysHi(self):
        print("Hello, I am (name). My age is (age)".format(name  = self.name, age = self.age))

In [ ]:
print(p.name, p.age)
p1.saysHi()

xyz 0

AttributeError: 'Person' object has no attribute 'saysHi'

In [ ]:
p2 = p1 + p

TypeError: unsupported operand type(s) for +: 'Person' and 'Person'

In [ ]:
print(p)

<__main__.Person object at 0x000001BEE3082510>

In [ ]:
class Person:
    # name = 'xyz'
    # age = 0
    def __init__(self, name = 'xyz', age = 0):
        self.name = name
        self.age = age
        
    def saysHi(self):
        print("Hello, I am (name). My age is (age)".format(name  = self.name, age = self.age))
    def __str__(self):
        return "Hello, I am (name). My age is (age)"

In [ ]:
import eg

Hello 10

NameError: name 'name' is not defined

In [ ]:
dir (eg)

NameError: name 'eg' is not defined

In [ ]:
eg.a

NameError: name 'eg' is not defined

In [ ]:
from eg import a

Hello 10

NameError: name 'name' is not defined

In [ ]:
a

NameError: name 'a' is not defined

# File Handling

- open a file{open('file location', mode)}

- read or write a file{read(), write()}

- close the file{close()}

In [ ]:
f = open("example.txt",'w')

In [ ]:
f.write("Hello, This is a demo for G8 \n")
f.write("The demo is for file handling")

29

In [ ]:
f.close()

In [ ]:
f=open('example.txt','r')
# print(f.read())
# print(f.readline())
# print(f.readlines())
print(f.read(10))
f.close()

Hello, Thi

In [ ]:
with open("example.txt","w") as f:
    l = [1,2,3.4]
    f.write(l)
    
with open("example.txt","r") as f:
    print(f.read())
    
#erroe shown as example is a text file which can only accept chars other data types can be assigned to binary files

TypeError: write() argument must be str, not list

In [ ]:
with open("example.txt","w") as f:
    for l in range(4):
        val = input().split(" ")
        f.write("{},{},{},{}\n". format(val[0],val[1],val[2],val[3]))
    
# with open("example.txt","r") as f:
    # print(f.read())
    
#error shown as example is a text file which can only accept chars other data types can be assigned to binary files

IndexError: list index out of range

In [ ]:
val = input().split()
val

In [ ]:
with open("example.txt","w") as f:

# Iterator And Iterable

In [ ]:
import numpy as np

In [ ]:
na.dtype

In [ ]:
np.arange(1,10,2,dtype='f')

In [ ]:
np.linspace?

In [ ]:
np.ones?

In [ ]:
np.eye?

In [ ]:
np.diag?

In [ ]:
np.random.rand(2,5)

In [ ]:
np.arange(1,21)

In [ ]:
na = np.arange(1,21)

In [ ]:
na = na.reshape((5,-1))
na

In [ ]:
b = na[0:2,2:4]
b = np.array([[10,20],[30,40]])

In [ ]:
import numpy as np

In [ ]:
na = np.loadtxt("populations.txt")

In [ ]:
ans = na[:,1:].argmax(axis=1)

In [ ]:
l =["hare","lynx","carrot"]
for ind, ele in enumerate(map(lambda x: 1[x]))

In [ ]:
a = np.tile?

In [ ]:
a = np.tile([1,2,3],(3,2))
a

In [ ]:
a = np.tile([1,2,3],(3,1))
a

In [ ]:
b=np.tile([0,10,20],(3,1))
b

In [ ]:
a+b

In [ ]:
b = np.array([0,10,20])
b

In [ ]:
a+b

In [ ]:
font = {'family':'serif', 'color':'blue', 'weight':'normal','size':16}
plt.plot(x,y1,label='Potato',color = 'r', linestyle = "--", linewidth = 2, marker = '*', markerfacecolor = 'b', markersize = 10)
plt.plot(x,y2,'g:o',label='Onion')
plt.xlabel('Quantity')
plt.ylabel('Prices')
plt.title('Vegeatable Prices',fontdict = font)
plt.legend()
plt.grid()
plt.show()

# Bar Graph

In [52]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
plt.bar?

In [51]:
x= np.array([1,2,3])
y = np.array([10,20,30])

# plt.bar(x,y)
plt.bar(x,y,tick_label = {'Silver','Gold','Platinum'})
plt.ylabel('Prices')
plt.title("Metal Prices")
plt.show()

NameError: name 'np' is not defined

# Pie Chart

- Value given in a pie chart is normalised

In [ ]:
#Docstring
plt.pie?

In [ ]:
# Creating A Simple pi chart
plt.pie([10,20,40,20,10])
plt.show()

In [ ]:
#Exploding or slicing
plt.pie([10,20,40,20,10],explode=(0.5,0.3,0.1,0,0))
plt.show()

In [ ]:
#Assigning labels to each slice
plt.pie([10,20,40,20,10],explode=(0.5,0.3,0.1,0.1,0),labels=['a','b','c','d','e'])
plt.show()

In [ ]:
#Assigning Shadow to each slice
plt.pie([10,20,40,20,10],explode=(0.5,0.3,0.1,0.1,0),labels=['a','b','c','d','e'],shadow=True)
plt.show()

In [ ]:
#Percentage Of Each Slice
plt.pie([10,20,40,20,10],explode=(0.5,0.3,0.1,0.1,0),labels=['a','b','c','d','e'],shadow=True,autopct='%1.1f%%')
plt.show()

# Histogram

In [ ]:
plt.hist?

Object `plt.hist` not found.

In [ ]:
#Deefining na
na = np.random.randint(30,70,100)
na
na2 = np.random.randint(0,50,100)
na2

NameError: name 'np' is not defined

In [50]:
#Plotting Histogram
plt.hist(na)
plt.show()

NameError: name 'plt' is not defined

In [49]:
plt.hist(na,label='Class A') #convert img into histogram or hist alpha is the opacity and by default it is 1
plt.hist(na2,label='Class B',alpha=0.5)
plt.xlim(0,100) #will show only limit specified area
plt.ylim(0,20)
plt.ylabel('Frequency')
plt.xlabel("Marks")
plt.title("Class Report")
plt.legend()
plt.grid()
plt.show()

NameError: name 'plt' is not defined

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EDA(Exploratory Data Analysis)

--> Feature Selection, Domain Knowledge
- Feature, Data Point

In [54]:
iris = sns.load_dataset(iris)

NameError: name 'iris' is not defined

In [ ]:
iris

In [ ]:
iris.columns

In [ ]:
iris['species']

In [ ]:
iris['species'].value_counts()

In [ ]:
import plotly.express as px
fig = px.scatter_3d()

In [ ]:
sns.pairplot(iris,hue)